server:
  port: 8080

spring:
  application:
    name: orchestrator-pure

logging:
  level:
    root: INFO
    com.hanumoka.orchestrator: DEBUG
  pattern:
    console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"
